# AGS/Astal types
config/ags/@girs/
config/ags/types/
# Logic artifacts
node_modules/
*.log
# Thunar Bookmarks
config/gtk-3.0/bookmarks
config/ags/.synapse-version

# hyprland userconfigs
config/hypr/custom/user.conf
config/hypr/custom/variables.conf

# colors gen by matugen
config/gtk-4.0/colors.css
config/hypr/colors/colors.conf
config/gtk-3.0/colors.css
config/foot/colors.ini
config/ags/colors.css